<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/19effb3b-3528-43df-a093-0a9590cce109/resourcegroups/CarbonNotesResourceGroup/providers/Microsoft.Web/sites/CarbonNotes</ResourceId>
    <ResourceGroup>CarbonNotesResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carbonnotes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carbonnotes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarbonNotes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarbonNotes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carbonnotesdbserver.database.windows.net;Initial Catalog=CarbonNotes_db;Persist Security Info=True;User ID=olka;Password=4048424dima." />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarbonNotes.Models.NoteDbContext, CarbonNotes" MigrationConfiguration="CarbonNotes.Migrations.Configuration, CarbonNotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carbonnotesdbserver.database.windows.net;Initial Catalog=CarbonNotes_db;Persist Security Info=True;User ID=olka;Password=4048424dima.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>